* {
  font-family: 'Roboto', sans-serif;
}

.header_container {
  width: 1200px;
  height: 300px;
  margin: auto;
  .header_main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .Link {
      text-decoration: none;
    }
    .header_logo {
      display: flex;
      align-items: center;
      cursor: pointer;
      img {
        width: 170px;
      }
      h2 {
        margin-left: -20px;
        font-size: 30px;
        color: #3d9bee;
      }
    }
    .header_nav {
      .ul {
        display: flex;
        align-items: center;
        li {
          margin: 20px;
          font-size: 23px;
          font-weight: 500;
          list-style: none;
          padding: 5px;
          border-radius: 30px;
          transition: 0.5s;
          cursor: pointer;
        }
        li:hover {
          background-color: #3d9bee;
          color: rgb(255, 255, 255);
          border-radius: 30px;
        }
      }
    }
    .header_active {
      display: flex;
      align-items: center;
      img {
        margin: 0 20px;
        padding: 10px;
        border-radius: 15px;
        transition: 0.5s;
      }
      img:hover {
        background-color: #ff325f;
      }
      .cartDiv {
        position: relative;
        display: flex;
        align-items: center;
        .cartImg {
          width: 30px;
        }
        h2 {
          position: absolute;
          font-size: 20px;
          right: 13px;
          bottom: 19px;
          padding: 1px 5px;
          background-color: #3d9bee;
          color: white;
          border-radius: 10px;
        }
        h3 {
          background-color: #3d9bee;
          border-radius: 10px;
          color: rgb(255, 255, 255);
          position: absolute;
          right: 90px;
          padding: 5px 10px;
        }
      }
      .accountImg {
        width: 25px;
      }
    }
  }
}

.title_container {
  width: 1200px;
  margin: auto;
  margin-top: -150px;

  .main_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .title_img {
      img {
        width: 550px;
      }
    }
    .title_text {
      width: 500px;
      h2 {
        font-size: 80px;
        color: #3d9bee;
      }
    }
  }
}

.search_container {
  width: 700px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .search_title {
    display: flex;
    align-items: center;
    justify-content: center;
    h2 {
      font-size: 30px;
      color: #9a9393;
    }
    img {
      width: 50px;
      height: 50px;
    }
  }
  .search_input {
    display: flex;
    align-items: center;
    margin: 20px auto;
    input {
      width: 500px;
      height: 50px;
      border-radius: 20px;
      border: 1px solid #9a9393;
      padding-left: 20px;
      font-size: 20px;
    }
    img {
      cursor: pointer;
      position: absolute;
      width: 30px;
      height: 30px;
      margin-left: 470px;
      transition: 0.5s;
    }
    img:hover {
      width: 33px;
      height: 33px;
    }
  }
}

.category_container {
  .category_main {
    margin-top: 70px;
    height: 400px;
    margin-bottom: -200px;
    .category_title {
      text-align: center;
      margin: auto;
      width: 200px;
      h2 {
        font-size: 40px;
        background-color:#ff325f;
        color: white;
        border-radius: 20px;
      }
    }
    .list_and_sort {
      width: 1200px;
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .category_list {
        ul {
          display: flex;
          li {
            font-size: 22px;
            font-weight: bold;
            list-style: none;
            margin-top: 10px;
            margin-right: 40px;
            padding: 5px;
            cursor: pointer;
          }
          .active {
            color: white;
            background-color: #3d9bee;
            border-radius: 10px;
          }
        }
      }
      .sort {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 25px;
        margin-right: 50px;
        .sort__label {
          display: flex;
          align-items: center;
          svg {
            transition: 1s;
            transform: rotate(0deg);
            margin: 0 5px;
          }
          .svg_active {
            transform: rotate(180deg);
            transition: 1s;
          }
          b {
            color: #ff325f;
            margin: 0 5px;
            font-size: 20px;
          }
          span {
            margin: 0 5px;
            font-size: 20px;
            cursor: pointer;
            transition: 1s;
            border-bottom: 1px black;
          }
          span:hover {
            color: #3d9bee;
          }
        }
        .sort__popup {
          z-index: 100;
          position: absolute;
          text-align: center;
          margin-top: 40px;
          margin-left: 70px;
          background-color: rgb(254, 254, 251);
          border: 0.5px solid rgb(111, 111, 111);
          border-radius: 20px;
          ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-right: 30px;
            li {
              font-size: 20px;
              font-weight: 500;
              padding: 10px 50px;
              list-style: none;
              border-bottom: 0.5px solid rgb(190, 190, 190);
            }
            li:hover {
              color: #3d9bee;
            }
          }
        }
      }
    }
  }
}



/////// GAMES PART
/// 
.game-part {
  width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.game-block-wrapper {
  -webkit-box-shadow: 1px 1px 20px 0px rgba(0,0,0,0.44); 
  box-shadow: 1px 1px 20px 0px rgba(0,0,0,0.44);

  width: 350px;
  height: 360px;
  border-radius: 20px;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  /* border: 1px solid black; */
  margin-bottom: 40px;
  .game-block-main {
    .game-block-img {
      img {
        width: 350px;
      }
    }
    .game-block-title {
      h2 {
        margin-left: 20px;
      }
    }
    .game-block-button {
      width: 320px;
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .game-buy-button {
        -webkit-box-shadow: 1px 1px 20px 0px rgba(0,0,0,0.44); 
        box-shadow: 1px 1px 20px 0px rgba(0,0,0,0.44);
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 140px;
        height: 60px;
        background-color: #3d9bee;
        border-radius: 30px;
        cursor: pointer;
        h2 {
          border-radius: 30px;
          border: none;
          font-size: 20px;
          font-weight: bold;
          margin-right: 30px;
          cursor: pointer;
        }
        h3 {
          position: absolute;
          margin-left: 80px;
          padding: 10px;
          border-radius: 10px;
          background-color:#267ac3;
        }
      }
      .game-buy-button:hover {
        background-color: #267ac3;
      }
      .game-price {
        h2 {

        }
      }
    }
  }
}


.game-block-genres {
  position: relative;
  ul {
    display: flex;
    justify-content: flex-start;
    margin-left: -23px;
    li {
      text-align: center;
      width: 50px;
      list-style: none;
      padding: 5px 10px;
      border-radius: 10px;
      background-color: #ff325f;
      margin: 0 5px;
      font-size: 15px;
    }
  }
}

.cart_wrapper {
  width: 1100px;
  margin: auto;
  margin-top: -140px;
  .header_cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title_header {
      cursor: pointer;
      h2 {
        font-size: 30px;
      }
    }
    .delete_header {
      cursor: pointer;
      h2 {
        font-size: 20px;
        color:#9a9393;
      }
    }
  }
  .cart__bottom {
    .cart__bottom-details {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 20px;
      height: 100px;
      span {
        font-size: 25px;
        font-weight: bold;
      }
    }
  }
  .cart__bottom-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px 20px;
    .come-back {
      text-decoration: none;
      color: #9a9393;
      .button_end {
        width: 170px;
        height: 75px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #9a9393;
        border-radius: 40px;
        transition: 0.5s;
        cursor: pointer;
        font-size: 20px;
        text-decoration: none;
        span {
          margin-left: 10px;
        }
  /*       .come-back{
          color:#9a9393;
          text-decoration: none;
        }
        .come-back:hover {
          background-color: black;
          color: white;
        } */
      }
      .button_end:hover {
        background-color: black;
        color: white;
      }
    }
    .paid_type {
      text-decoration: none;
      .button_pay-btn {
        width: 170px;
        height: 75px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #3d9bee;
        border-radius: 40px;
        transition: 0.5s;
        font-size: 20px;
        color: white;
        cursor: pointer;
        text-decoration: none;
      }
      .button_pay-btn:hover {
        background-color: #346d9e;
      }
    }
  }
}

.cart__item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 300px;
  -webkit-box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.15); 
  box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.15);
  border-radius: 30px;
  margin: 15px 0px;
  .cart__item-img {
    .game-block__image {
    }
  }
  .cart__item-info {
    h3 {

    }
  }
  .cart__item-price {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    b {
      font-size: 25px
    }
    h2 {
      font-size: 16px;
    }
  }
  .cart__item-remove {
    cursor: pointer;
    .button_remove {
      padding: 10px 15px;
      border: 1px solid black;
      border-radius: 20px;
      transform: rotate(45deg);
      transition: 0.5s;
    }
    .button_remove:hover {
      background-color: rgb(88, 88, 88);
    }
  }
}

.cart_empty {
  width: 1000px;
  margin: auto;
  margin-top: -150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h2 {
    text-align: center;
  }
  p {
    text-align: center;
    font-size: 25px;
    color: #9a9393;
  }
  img {
    margin-top: 20px;
    width: 320px;
    margin-left: 370px;
    margin-bottom: 50px;
  }
  .button_end {
    width: 170px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    border-radius: 40px;
    transition: 0.5s;
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
    margin-left: 410px;
    margin-bottom: 40px;
  }
  .button_end:hover {
    background-color: rgb(55, 54, 54);
    color: white;
  }
}


.paid_wrapper {
  margin-top: -150px;
  .title_paid {
    h2 {
      text-align: center;
    }
    h3 {
      text-align: center;
      color: #9a9393;
      font-size: 25px;
    }
  }
  .paid_img {
    img {
      margin-left: 600px;
      width: 500px;
    }
  }
}

.send_container {
  width: 500px;
  margin: auto;
  .row_pt-5_mx-auto {
    -webkit-box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.44); 
    box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.44);
    background-color: #3d9bee;
    border-radius: 40px;
    padding: 100px 0px;
    text-align: center;
    margin-top: -100px;
    h2 {
      position: absolute;
      color:#3d9bee;
      background-color: white;
      margin-top: -55px;
      margin-left: 180px;
      padding: 5px;
      border-radius: 10px;
    }
    .form_control_div {
      text-align: center;
      input {
        width: 300px;
        height: 40px;
        border-radius: 20px;
        margin: 10px;
        padding-left: 20px;
        border: none;
      }
    }
    .email_input {
      input {
        width: 300px;
        height: 40px;
        border-radius: 20px;
        margin: 10px;
        padding-left: 20px;
        border: none;
      }
    }
    .subject_input {
      input {
        width: 300px;
        height: 40px;
        border-radius: 20px;
        margin: 10px;
        padding-left: 20px;
        border: none;
      }
    }
    .text_area_input {
      h4 {

      }
      textarea {
        width: 80px;
        height: 30px;
        border-radius: 20px;
        margin: 10px;
        padding-left: 20px;
        border: none;
      }
    }
    .button_email {
      input {
        width: 200px;
        height: 50px;
        border-radius: 20px;
        border: none;
        background-color: white;
        color: rgb(0, 0, 0);
        font-size: 15px;
        cursor: pointer;
        transition: 0.5s;
      }
      input:hover {
        background-color: rgb(181, 181, 181);
      }
    }
    .end_order {
      margin-top: 70px;
    }
  }
}

